@import url(http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic);

body, form, input, select, option, button, textarea,
table, td, th { font: 16px/1.4em "PT Serif", "Lucida Grande", Lucida, Georgia, serif; font-size-adjust: 0.508; }

h1, h2, h3, h4, h5, h6 { font: normal 1em/1.3em "PT Serif", "Lucida Grande", Georgia, serif; }
h4, h5, h6 { font-family: "PT Serif", "Lucida Grande", Lucida, Georgia, serif; }

strong, dt { font-family: "PT Serif", "Lucida Grande", Georgia, serif; font-weight: normal; color: #333; font-size-adjust: 0.52; }
blockquote, em { font-family: "PT Serif", "Lucida Grande", Georgia, serif; font-style: normal; color: #666; font-size-adjust: 0.508; }
.single #header #site-title { font-family: "PT Serif", "FontinRegular", "Lucida Grande", serif; }

h1 { font-size: 3.136em; }
h2 { font-size: 2.218em; }
h3 { font-size: 1.618em; }
h4 { font-size: 1.236em; }
h5 { font-size: 1.136em; font-weight: bold; }
h6 { font-size: 1.0em; font-weight: bold; }

h3 + ul { padding-top: 1em; }
p, ol, ul { padding: 0 0 1.5em 0; margin: 0;  }
li { display: list-item; padding-bottom: 0.4045em; }
li:last-child { padding-bottom: 0; }

blockquote { background: #FFF; border-radius: 0.6em; margin: 0 0.5em;  }
blockquote p:last-child { padding: 0; }
ul ul, ol ol, ul ol, ol ul, blockquote { padding: 0.6em 1em; margin-bottom: 1em;  }
p + blockquote { margin-top: 0; }
ul > li { list-style: outside disc; margin-left: 1.8em;}
ol > li { list-style: outside decimal;  margin-left: 1.8em;   }

dl { padding-bottom: 0.908em; }
dl dt { padding-bottom: 0.4em; }
dl dd { padding: 0 0 0.4em 0.908em; }
pre { margin: 1em 0 2em 0; }
#site-title { margin: 0.2em 0 0 0; }
